@* code .\src\WebUI\Pages\Index.cshtml *@
@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@functions
{
    double perimetro;
    double area;
    double volumen;

    public void OnPost(double longitud, double Ancho, double altura)
    {
        perimetro = Application.Rectangulo.CalcularPerimetro(longitud, Ancho);
        area = Application.Rectangulo.CalcularArea(longitud, Ancho);
        volumen = Application.PrismaRectangular.CalcularVolumen(area, altura);
    }
}

<h1>
    Calculadora de Área y Perímetro del Rectangulo; y Volumen de Prisma PrismaRectangular
</h1>

<form method="Post">
    Dame el lado: <input type="number" name="longitud" step="0.01">
    <br>
    Dame la altura: <input type="number" name="Ancho" step="0.01">
    <br>
     Dame el lado: <input type="number" name="Altura" step="0.01">
     <br>
    <button>Calcular</button>
</form>

<PropertyGroup>
  <PreserveCompilationContext>true</PreserveCompilationContext>
  <CopyOutputSymbolsToPublishDirectory>true</CopyOutputSymbolsToPublishDirectory>
  <CopyOutputSymbolsToDebugDirectory>true</CopyOutputSymbolsToDebugDirectory>
</PropertyGroup>